<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.select field.attribute, field.plans_for_select, { include_blank: false }, class: "select" %>
</div>
